site_name: dR2star
site_description: BIDS-app style wrapper around tat2 for fMRIPrep derivatives.
theme:
  name: readthedocs

nav:
  - Home: index.md
  - Usage: usage.md

plugins:
  - search
  - gen-files:
      scripts:
        - docs/gen_usage.py
